{% extends "layout.jinja2" %} 

{% block content%}

    <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 centered">
            <div class="input-group">
               <form method="POST" action="/receita">

                    <input type="text" name="cnpj" class="form-control">
                    <span class="inpussst-group-btn">
                        <button type="submit" name="pesquisar" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span> Pesquisar
                        </button>
                    </span>
                   <label id="message" name="message"  />{{ message }}
                </form>
            </div>
        </div>

{% endblock content %}
